.caption {
	text-align:center;
	color:#3399FF;
	margin-top:-15px;
	margin-bottom:20px;
}
h3.subheading.two {
    text-align: center !important;
}
.fir {
	color:#3399FF;
}
.about p {
	text-align:justify;
}